{% extends "base.html" %}
{% block content %}
<section class="hero is-white is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
            <div class="column is-4 ">
                <h1 class="title is-italic has-text-info is-1">
                     Vote App 
                  </h1>
                <h2 class="subtitle has-text-dark is-4">
                    Login and start voting
                </h2>
                <p class="has-text-left has-text-weight-semibold has-text-dark">Created a simple college election voting app using Flask and Bulma, where students can register themselves. Once registered, student can login and cast their vote.</p>
                <br>
                <p class="has-text-left has-text-weight-semibold has-text-dark">Candidate info tab gives you information about the candidates standing for the elections.</p> <br>
                <p class="has-text-left has-text-weight-semibold has-text-dark">A new candidate can be registered only by the Admin. Admin can log in and fill a form to register a new candidate for the election.</p>
            </div>
            <div class="column is-7 ">
             <img src="static/images/home-logo.jpg">
            </div>
        </div>
        
      </div>
      
    </div>
  </section>
{% endblock %}